html {
    background-color: rgb(60, 86, 112);
    color: white;
}


/* Accueil */

.app {
    width: 100%;
    min-height: 85vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    align-items: center;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

@media screen and (min-width: 1025px) {
    .app {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }
}

.appCard {
    width: 75vw;
    height: 20vh;
    background-color: grey;
    margin: 5% 0 5% 0;
    text-align: center;
    line-height: 20vh;
    border-radius: 5px;
    font-size: 3rem;
}

.appCard:hover {
    background-color: rgb(182, 182, 182);
    color: black;
}

@media screen and (min-width: 1025px) {
    .appCard {
        width: 30vw;
        height: 25vh;
        line-height: 25vh;
        margin: 0 2% 0 2%;
        font-size: 3rem;
    }
}

.lien {
    color: white;
    text-decoration: none;
}