html {
    background-color: rgb(60, 86, 112);
    color: white;
}


/* Accueil */

.app {
    width: 100%;
    min-height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 640px) {
    .app {
        flex-direction: row;
    }
}

.appCard {
    width: 75vw;
    height: 20vh;
    background-color: white;
    margin: 5% 0 5% 0;
    text-align: center;
    line-height: 20vh;
    border-radius: 5px;
}

@media screen and (min-width: 640px) {
    .appCard {
        width: 30vw;
        height: 30vh;
        line-height: 30vh;
        margin: 0 2% 0 2%;
    }
}